# Environment variables (never commit secrets)
.env

# Flask database & instance folder
instance/
*.db
*.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
.virtualenvs/
*.egg-info/

# IDE / editor
.vscode/
.idea/

# Testing
.pytest_cache/
